<nav class="navbar custom-navbar">
    <a class="navbar-brand" href="">
        <img src="favicon.png" alt="logo" />
        EnergyWay
    </a>
    <div class="navbar-nav">
        <NavLink class="nav-link" href="">Home</NavLink>
        <NavLink class="nav-link" href="products">Products</NavLink>
        <NavLink class="nav-link" href="aboutus">About</NavLink>
        <NavLink class="nav-link" href="contact">Contact</NavLink>
        <a class="btn-login" href="login">Login</a>
    </div>
</nav>
